In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("..\data\global_power_plant_database.csv")

In [3]:
df.head()

,country,country_long,name,gppd_idnr,capacity_mw,latitude,longitude,primary_fuel,other_fuel1,other_fuel2,...,url,geolocation_source,wepp_id,year_of_capacity_data,generation_gwh_2013,generation_gwh_2014,generation_gwh_2015,generation_gwh_2016,generation_gwh_2017,estimated_generation_gwh
0,AFG,Afghanistan,Kajaki Hydroelectric Power Plant Afghanistan,GEODB0040538,33.00,32.3220,65.1190,Hydro,NaN,NaN,...,http://globalenergyobservatory.org,GEODB,1009793,2017.0,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Afghanistan,Mahipar Hydroelectric Power Plant Afghanistan,GEODB0040541,66.00,34.5560,69.4787,Hydro,NaN,NaN,...,http://globalenergyobservatory.org,GEODB,1009795,2017.0,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,Naghlu Dam Hydroelectric Power Plant Afghanistan,GEODB0040534,100.00,34.6410,69.7170,Hydro,NaN,NaN,...,http://globalenergyobservatory.org,GEODB,1009797,2017.0,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Afghanistan,Nangarhar (Darunta) Hydroelectric Power Plant ...,GEODB0040536,11.55,34.4847,70.3633,Hydro,NaN,NaN,...,http://globalenergyobservatory.org,GEODB,1009787,2017.0,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Afghanistan,Northwest Kabul Power Plant Afghanistan,GEODB0040540,42.00,34.5638,69.1134,Gas,NaN,NaN,...,http://globalenergyobservatory.org,GEODB,NaN,2017.0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_all = df.drop(['country_long', 'name', 'url', 'geolocation_source', 'wepp_id'], axis=1)

If column `gppd_idnr` is unique, we can set it as index:

In [5]:
df_all['gppd_idnr'].is_unique

True

In [6]:
df_all.set_index('gppd_idnr')

,country,capacity_mw,latitude,longitude,primary_fuel,other_fuel1,other_fuel2,other_fuel3,commissioning_year,owner,source,year_of_capacity_data,generation_gwh_2013,generation_gwh_2014,generation_gwh_2015,generation_gwh_2016,generation_gwh_2017,estimated_generation_gwh
gppd_idnr,,,,,,,,,,,,,,,,,,
GEODB0040538,AFG,33.00,32.3220,65.1190,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,2017.0,NaN,NaN,NaN,NaN,NaN,NaN
GEODB0040541,AFG,66.00,34.5560,69.4787,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,2017.0,NaN,NaN,NaN,NaN,NaN,NaN
GEODB0040534,AFG,100.00,34.6410,69.7170,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,2017.0,NaN,NaN,NaN,NaN,NaN,NaN
GEODB0040536,AFG,11.55,34.4847,70.3633,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,2017.0,NaN,NaN,NaN,NaN,NaN,NaN
GEODB0040540,AFG,42.00,34.5638,69.1134,Gas,NaN,NaN,NaN,NaN,NaN,GEODB,2017.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WRI1022386,ZMB,50.00,-12.9667,28.6333,Oil,NaN,NaN,NaN,NaN,ZESCO,Energy Regulation Board of Zambia,NaN,NaN,NaN,NaN,NaN,NaN,120.872642
WRI1022384,ZMB,20.00,-12.8167,28.2000,Oil,NaN,NaN,NaN,NaN,ZESCO,Energy Regulation Board of Zambia,NaN,NaN,NaN,NaN,NaN,NaN,48.349057
WRI1022380,ZMB,108.00,-17.9167,25.8500,Hydro,NaN,NaN,NaN,NaN,ZESCO,Energy Regulation Board of Zambia,NaN,NaN,NaN,NaN,NaN,NaN,702.100000
GEODB0040404,ZWE,920.00,-18.3835,26.4700,Coal,NaN,NaN,NaN,NaN,NaN,GEODB,2017.0,NaN,NaN,NaN,NaN,NaN,4397.000000
GEODB0003803,ZWE,750.00,-16.5222,28.7619,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,2017.0,NaN,NaN,NaN,NaN,NaN,5431.000000

In [7]:
#Split into one dataset containing estimated and one containing time series data
df_time_series = (df_all.dropna(how='all', subset=['generation_gwh_2013', 'generation_gwh_2014', 'generation_gwh_2015', 'generation_gwh_2016', 'generation_gwh_2017'])
                      .set_index('gppd_idnr'))


df_time_series_complete = df_time_series.dropna(how='any', subset=['generation_gwh_2013', 'generation_gwh_2014', 'generation_gwh_2015', 'generation_gwh_2016', 'generation_gwh_2017'])

df_time_series_incomplete = df_time_series[df_time_series[['generation_gwh_2013', 'generation_gwh_2014', 'generation_gwh_2015', 'generation_gwh_2016', 'generation_gwh_2017']].isnull().any(axis=1)]

df_estimate = (df_all.dropna(how='any', subset=['estimated_generation_gwh'])
                   .set_index('gppd_idnr'))

In [8]:
#We must have some duplicates
len(df_time_series_incomplete)+len(df_estimate)+len(df_time_series_complete)

31814

In [9]:
#Some rows have both estimate and incomplete time series:
s1 = pd.merge(df_time_series_incomplete, df_estimate, how='inner')
s1

,country,capacity_mw,latitude,longitude,primary_fuel,other_fuel1,other_fuel2,other_fuel3,commissioning_year,owner,source,year_of_capacity_data,generation_gwh_2013,generation_gwh_2014,generation_gwh_2015,generation_gwh_2016,generation_gwh_2017,estimated_generation_gwh
0,AUS,50.0,-34.5034,139.0246,Oil,NaN,NaN,NaN,NaN,Infratil Energy Australia Pty Ltd,Australian Renewable Energy Mapping Infrastruc...,NaN,NaN,NaN,1.653056,5.300833,7.649722,526.452790
1,AUS,37.0,-23.5525,145.3142,Gas,NaN,NaN,NaN,NaN,Ergon Energy Qld Pty Ltd,Australian Renewable Energy Mapping Infrastruc...,NaN,NaN,NaN,NaN,NaN,3.941667,93.304739
2,AUS,113.0,-36.5817,149.1083,Wind,NaN,NaN,NaN,NaN,Boco Rock Wind Farm Pty Ltd,Australian Renewable Energy Mapping Infrastruc...,NaN,NaN,NaN,208.778611,334.114167,349.301667,94.893070
3,AUS,53.0,-31.9867,141.3915,Solar,NaN,NaN,NaN,NaN,AGL Energy,Australian Renewable Energy Mapping Infrastruc...,NaN,NaN,NaN,NaN,92.104722,127.564722,1059.946475
4,AUS,190.0,-20.5447,147.8049,Coal,NaN,NaN,NaN,NaN,RATCH Australia,Australian Renewable Energy Mapping Infrastruc...,NaN,0.214722,NaN,NaN,NaN,NaN,771.660922
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2525,VNM,66.0,14.3656,108.6943,Hydro,NaN,NaN,NaN,2001.0,Vinh Son- Song Hinh Hydropower JSC,Open Development Vietnam,NaN,NaN,NaN,NaN,228.500000,NaN,230.679596
2526,VNM,28.0,14.3611,108.7203,Hydro,NaN,NaN,NaN,2014.0,Vinh Son Hydropower Investment JSC,Open Development Vietnam,NaN,NaN,NaN,NaN,103.000000,NaN,97.864071
2527,VNM,6.6,21.3412,104.3498,Hydro,NaN,NaN,NaN,NaN,Xim Vang Hydro Power JSC,Open Development Vietnam,NaN,NaN,NaN,NaN,68.000000,NaN,23.067960
2528,VNM,19.5,12.1526,108.3787,Hydro,NaN,NaN,NaN,2010.0,Cao Nguyen - Song Da Hydro Power JSC.,Open Development Vietnam,NaN,NaN,NaN,NaN,79.000000,NaN,68.155335
2529,VNM,30.0,15.8600,107.6538,Hydro,NaN,NaN,NaN,2009.0,Za Hungt JSC.,Open Development Vietnam,NaN,NaN,NaN,NaN,122.700000,NaN,104.854362

In [10]:
# Output
#  df_ts_complete: df with values where time series is complete
#  df_estimate: df where all time series values are NaN but there is an estimate
#  df_ts_incomplete: df with values where at least one of time series values is NaN
# 
# Reads global powerplant data data from CSV, drops irrelevant columns, splits df (see output), 
# and re-indexes df with gppdf_idnr as index
def read_clean_and_split():  
    df = pd.read_csv("..\data\global_power_plant_database.csv")
    df_all = df.drop(['country_long', 'name', 'url', 'geolocation_source', 'wepp_id'], axis=1)
    
    df_ts = (df_all.dropna(how='all', subset=['generation_gwh_2013', 'generation_gwh_2014', 'generation_gwh_2015', 'generation_gwh_2016', 'generation_gwh_2017'])
                      .set_index('gppd_idnr'))
    df_ts_complete = df_ts.dropna(how='any', subset=['generation_gwh_2013', 'generation_gwh_2014', 'generation_gwh_2015', 'generation_gwh_2016', 'generation_gwh_2017'])
    df_estimate = (df_all.dropna(how='any', subset=['estimated_generation_gwh'])
                   .set_index('gppd_idnr'))
    df_ts_incomplete = df_ts[df_ts[['generation_gwh_2013', 'generation_gwh_2014', 'generation_gwh_2015', 'generation_gwh_2016', 'generation_gwh_2017']].isnull().any(axis=1)]
    return df_ts_complete, df_ts_incomplete, df_estimate

In [11]:
# Creates new column 'avg_annual_output' in df by
#  - copying estimated_generation_gwh in rows where it is not NaN
#  - averaging the time series in the remaining rows
def fill_estimate(df):
    df['avg_annual_output'] = df['estimated_generation_gwh']    
    idx = df.index[df['estimated_generation_gwh'].isna()].tolist()    
    df.loc[idx,'avg_annual_output'] = df[['generation_gwh_2013', 'generation_gwh_2014', 'generation_gwh_2015', 'generation_gwh_2016', 'generation_gwh_2017']].mean(axis=1)